body {
   
    width: auto;
    background-color: #e7e7e5;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif; 
    background-image: url(CCCoBBB.github.io/styles/peakpx.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    strong {
        font-size: 35pt;
        font-weight: 100;
        margin-bottom: auto;
        margin-top: auto;
        font-family: 'IBM Plex Sans', sans-serif;
        background-color: #ccd1cc;
        position: fixed;
        top: 0;
        width: 100%;
        margin-bottom: 40px;
        cursor: pointer;
    }

    #link {
        margin-bottom: 50px;
        ;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    .idk {
        list-style:inside;
        list-style-position: inside;
        margin-top: 20px;
        padding-left: 0%;
        list-style-type:none;
    }

    li{
        margin-top: 20px;
        
    }

    footer {
        margin-top: 400pt;
        font-size: 250px;
    }
    .header {
      background-color: #ccd1cc;
      position: fixed;
      top: 0;
      left: 0;
      font-family: 'IBM Plex Sans', sans-serif; 
      width: 100%;
      z-index: 1000;
      margin-bottom: 40px;
      cursor: pointer;
    }
 
    
    .flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    button {
        color:black;
        border-color:#252525;
        height: 200px;
        width: 850px;
        font-family: 'IBM Plex Sans', sans-serif;
        border-radius:30px;
        cursor: pointer;
        border-style:ridge;
        padding: 14px 28px;
        background-color: #ccd1cc; 
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      font-size: large;
    }

    button:hover {
        background-color: #3d3d3d; 
        color: white;
        transition-duration: 0s;
      }
   
    h2 {
        width: auto;
        display: block;
        flex-direction: column;
        text-align:center;
        font-size: 18px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 25px;
        letter-spacing: 3px;
      }

  
       


/* - - - difference between margin, border and padding - - -*/


.main-content {
    display: grid;
    grid-template-areas:'left left middle middle right right' ;
    width: auto;
    gap: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: px;
  }

.margin {
    
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 1px;
    background-color: #edf7f4;
    border-radius: 8px;
  }

.border {
    
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 1px;
    background-color: #edf7f4;
    border-radius: 8px;
  }
  
.padding {
    
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 1px;
    background-color: #edf7f4;
    border-radius: 8px;
  }


/* - - - Identity Values Strengths and Learnign plan- - -*/
  
  h3 {
    text-align: left;
    font-size: larger;
    padding-bottom: 30px;
    padding-block: 20px;
    padding-left: 20%;
    padding-right: 20%;
  }

  small {
    padding-left: 0px;
    font-weight: 100;
    font-size: large;
   text-align:auto;
  }
    