body {
    background-color: #e7e7e5;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

    h1 {
        font-size: 35pt;
        font-weight: 100;
        margin-bottom: auto;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    #link {
        margin-bottom: 50px;
        ;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    .idk {
        list-style:inside;
        list-style-position: inside;
        margin-top: 200px;
    }

    li{
        margin-top: 20px;
    }

    footer {
        margin-top: 400pt;
        font-size: 25px;
    
    }
    button {
        color:black;
        border-color:#252525;
        height: 50px;
        width: 150px;
        font-family: 'IBM Plex Sans', sans-serif;
        border-radius:3px;
        cursor: pointer;
        border-style:ridge;
    }

    .longer-text{
        height: fit-content;
    }
