body {
    background-color: #e7e7e5;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

    h1 {
        font-size: 35pt;
        font-weight: 100;
        margin-bottom: auto;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    #link {
        margin-bottom: 50px;
        ;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    .idk {
        list-style:inside;
        list-style-position: inside;
        margin-top: 200px;
        padding-left: 0%;
        list-style-type:none;
    }

    li{
        margin-top: 20px;
    }

    footer {
        margin-top: 400pt;
        font-size: 25px;
    
    }
    button {
        color:black;
        border-color:#252525;
        height: 65px;
        width: 150px;
        font-family: 'IBM Plex Sans', sans-serif;
        border-radius:3px;
        cursor: pointer;
        border-style:ridge;
        
    }
   
    h2 {
        width: auto;
        display: block;
        flex-direction: column;
        text-align:center;
        font-size: 18px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 25px;
        letter-spacing: 3px;
      }

/* - - - difference between margin, border and padding - - -*/


.main-content {
    display: grid;
    grid-template-areas:'left left middle middle right right' ;
    width: auto;
    gap: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 3px;
   
  }

.margin {
    
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 1px;
    background-color: #edf7f4;
    border-radius: 8px;
  
    
  }

.border {
    
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 1px;
    background-color: #edf7f4;
    border-radius: 8px;
  }
  
.padding {
    
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 1px;
    background-color: #edf7f4;
    border-radius: 8px;
  }


  
  
    